#no-mobile {
  position: absolute;

  height: 100vh;
  background-color: #fae100;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
    visibility: hidden;
}
